:root{
    --main-bg:#1E1E1E;;
    --heading-bg:#1A1918;
    --theme-color:#f9b417;
}
@font-face {
    font-family: Basis Grotesque Prot;
    src: url(assets/fonts/FontsFree-Net-BasisGrotesquePro-Regular.ttf);
  }
.body{
    background: var(--main-bg);
}
.heading-casino{
    background: var(--heading-bg);
   
}
.heading-first{
    color: var(--theme-color);
    font-family: 'Whyte Inktrap';
font-style: normal;
font-weight: 500;
font-size: 34px;
}
.heading-last{
    font-family: 'Basis Grotesque Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-transform: uppercase;

color: #CECBCB;
}
.heading-last i{
    color: var(--theme-color);
}

.sports-card{
    
background: var(--heading-bg);
border: 1px solid var(--heading-bg);
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 84px;
width:100%;
}
.sports-card img{
    height: 29px;
    width: 29px;
}
.sports-card .title{
    font-family: 'Basis Grotesque Pro';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
text-align: center;

color: #CECBCB;

opacity: 0.7;
}
.row.cards-container>*{
    padding-right: calc(var(--bs-gutter-x) * .2) !important;
    padding-left: calc(var(--bs-gutter-x) * .2) !important;
}
@media screen and (max-width:767px) {
    .sports-card .title {
        font-size: 11px;
    }
}